/* CSS Document */

*{
    margin:0px;
    padding:0px;
}

/*Importado de las fuentes*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?nmxr12');
	src:url('../fonts/icomoon.eot?#iefixnmxr12') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nmxr12') format('woff'),
		url('../fonts/icomoon.ttf?nmxr12') format('truetype'),
		url('../fonts/icomoon.svg?nmxr12#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
    color: rgb(136, 87, 31);
}

.icon-office:before {
	content: "\e903";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-key:before {
	content: "\e98d";
}

.icon-wrench:before {
	content: "\e991";
    color: rgb(136, 87, 31);
}

/* ----------------- Comienzo a Diseñar --------------------------- */


body{
    background:url(../Images/orange.jpg);
    background-size: 100%;
	background-color: #FFA812;
}

.login{
    background-color: #DAB30A;
    width: 360px;
    border: 2px solid #ffd800;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 0 0 10px #000;
    margin:100px auto;
}

.centrar{
	display: block;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	width: 300px;
  	padding: 10px;
}

.boton{
	margin: 10px;
}
.textdecoration{
	text-decoration: none;
}
.fon-size{
	font-size: 2rem;
}
.encabezado{
	background-color: #ffd800;
	height: 50px;
	margin: 5px,0px,5px,5px;
	position: relative;
	box-shadow: 0 0 10px #000;
}

.margin-right{
	margin-right: 2rem;
}
.inlineblock{
	display: inline-block;
}
.relative{
	position: relative;
}

.logininfo{
	position: absolute;
	top: 10px;
	right: 10px;
}

.height10{
	height: 50px;
	width: 100%;
}

.wrapper{
	display: table;
	margin-top: 10px;
	width: 100%;
}

.wraper-row{
	display: table-row;
	margin-left: auto;
  	margin-right: auto;
}
.wraper-cell{
	display: table-cell;
	margin-bottom: 1rem;
    padding: 1px;
}
.menu{
	display: table-cell;
	vertical-align: top;
	width: 18%;
}
.principal{
	display: table-cell;
	vertical-align: top;
	width: 82%;
}
.footer{
	text-align: center;
	width: 100%
}

.btnLogin{
	width: 100px;
	height: 40px;
	background: rgb(195,141,9); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(195,141,9,1) 0%, rgba(181,129,9,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,141,9,1)), color-stop(100%,rgba(181,129,9,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,141,9,1) 0%,rgba(181,129,9,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(195,141,9,1) 0%,rgba(181,129,9,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(195,141,9,1) 0%,rgba(181,129,9,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(195,141,9,1) 0%,rgba(181,129,9,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c38d09', endColorstr='#b58109',GradientType=0 ); /* IE6-9 */
	border: 1px solid #D69C0A;
	box-shadow: 0px 0px 2px #000;
	-moz-box-shadow: 0px 0px 2px #000;
	-webkit-box-shadow: 0px 0px 2px #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btnLogin:hover{
	background: #C1A609;
	border: 1px solid #AD8908;
}
.btnLogin:active{
	background: rgb(181,129,9); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,129,9,1) 0%, rgba(195,141,9,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,129,9,1)), color-stop(100%,rgba(195,141,9,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(181,129,9,1) 0%,rgba(195,141,9,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,129,9,1) 0%,rgba(195,141,9,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,129,9,1) 0%,rgba(195,141,9,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,129,9,1) 0%,rgba(195,141,9,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b58109', endColorstr='#c38d09',GradientType=0 ); /* IE6-9 */
}
/* ----------------- Fin MARIO --------------------------- */


.errorsList
{
	background-image: url(Images/bgError.png);
	border: solid red 1px;
	margin: 20px;
	color: fuchsia;
	padding: 10px;
}

@media all and (min-width: 600px) {
  
}

@media all and (min-width: 800px) {
 
}
